p{
    color: #964b00;
    line-height: 30px;
}

body{
    text-align: center;
    font-family: Georgia;
}
h1{
    color: red;
    text-decoration: underline;
}

h3{
    color: black;
}

a{
    color: rgb(0,255,0);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}

textarea{
    color: #000;
}
span{
    text-decoration: underline;
}


