.face{
    height: 400px;
    width: 400px;
    background-color: orange;
    border: 2px solid black;
    border-radius: 50%;
}

.left-eye , 
.right-eye {
    width:60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.right-eye{
    left: 250px;
}

.smile{
    height: 75px;
    width: 200px;
    background-color: red;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}