/* ! Practice 1 */

/* h2{
    color: orange;
}

p{
    background-color: black;
    color: white;
}

button{
    background-color: blue;
    color: white;
} */

/* ! Practice 2 */

/* h1{
    color: #ffffff;
    background-color: #000000;
}
h2{
    color: rgb(255, 255, 0);
    background-color: #0000ff;
}
h3{
    color: rgb(0,0,255);
    background-color: #ffff00;
} */

/* ! Practice 3 */

/* h1{
    font-family: League Spartan,sans-serif;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase       ;
} */

/* ! Practice 4 */
