<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Username</title>
    </head>
    <body>
        <h2>You are about to edit user: <%= user.email %></h2>

        <form method="post" action="/user/<%= user.id %>?_method=PATCH">
            <label for="username">Username:</label>
            <input type="text" name="username"
                value="<%= user.username %>"><br><br>

            <label for="password">Password:</label>
            <input type="text" name="password"
                placeholder="Enter your password"><br><br>

            <button type="submit">Edit Username</button>
        </form>
    </body>
</html>
