<% layout('layouts/boilerplate.ejs') %>

<style>
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.6;
}

.filter:hover{
    opacity: 1;
    cursor: pointer;
}

.filter span{
    font-size: 0.8rem;
}

.tax-info{
    display: none;
}

.tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem ;
    padding: 1rem;
    margin-left: 2.5rem;
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
}
</style>

<div class="filters">
    <div class="filter">
        <div>
            <i class="fa-solid fa-fire-flame-curved"></i>
        </div>
        <span>Trending</span>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-bed"></i>
        </div>
        <span>Room's</span>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-city"></i>
        </div>
        <span>Iconic Cities</span>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-mountain-city"></i>
        </div>
        <span>Mountains</span>
    </div>
    <div class="filter">
        <div>
            <i class="fa-brands fa-fort-awesome"></i>
        </div>
        <span>Castles</span>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-person-swimming"></i>
        </div>
        <span>Amazing Pools</span>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-tents"></i>
        </div>
        <span>Camping</span>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-wheat-awn"></i>
        </div>
        <span>Farms</span>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-umbrella-beach"></i>
        </div>
        <span>Beach</span>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-igloo"></i>
        </div>
        <span>Domes</span>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-snowman"></i>
        </div>
        <span> Arctic</span>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-ship"></i>
        </div>
        <span> Boats</span>
    </div>

    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch"
                id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display
                total after taxes</label>
        </div>
    </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings){ %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top"
                alt="listing-image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
                <p class="card-text">
                    <b> <%= listing.title %></b> <br>
                    ₹ <%= listing.price.toLocaleString("en-IN") %>
                    /night &nbsp;
                    <i class="tax-info">
                        +18% GST
                    </i>
                    <br>
                </p>
            </div>
        </div>
    </a>
    <%} %>
</div>

<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");

    taxSwitch.addEventListener("click",()=>{

        let taxinfo = document.getElementsByClassName("tax-info");

        for(info of taxinfo){
            if(info.style.display != "inline"){
                info.style.display = "inline"
            }else{
                info.style.display = "none"
            }
        }
    })
</script>