<% layout('layouts/boilerplate.ejs') %>

<body>

    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="mt-5">Create a New Listing</h1>
            <form action="/listings" method="POST"
                class="mt-3  mb-5 needs-validation"
                novalidate>

                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" name="listing[title]"
                        placeholder="e.g. Cozy Beachfront Apartment"
                        class="form-control"
                        id="title" required>
                    <div class="valid-feedback">
                        Title looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description"
                        class="form-label">Description:</label>
                    <textarea name="listing[description]"
                        placeholder="e.g. Spacious 1BHK near DN Nagar metro, fully furnished with sea view"
                        class="form-control"
                        id="description" required></textarea>
                    <div class="invalid-feedback">
                        Please enter short description of the listing!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link:</label>
                    <input type="url" name="listing[image]"
                        placeholder=" URL/link"
                        class="form-control"
                        id="image">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input name="listing[price]"
                            placeholder="e.g. 32000000"
                            min="0"
                            class="form-control"
                            id="price" required>
                        <div class="invalid-feedback">
                            Price should be valid!
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" name="listing[country]"
                            placeholder="India"
                            class="form-control"
                            id="country" required>
                        <div class="invalid-feedback">
                            Country name should be valid!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" name="listing[location]"
                        placeholder="e.g. VIP road, Surat"
                        class="form-control"
                        id="location" required>
                    <div class="invalid-feedback">
                        Location should be valid!
                    </div>
                </div>

                <button class="btn add-btn">Add Listing</button>
            </form>
        </div>
    </div>
</body>
