<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>
    <body>
        <h1>Home Page</h1>

        <h3> <%= 1 + 2 %> </h3>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
            numquam veniam nemo commodi ipsa at ratione eos cum libero dolore!
            Aperiam blanditiis sint temporibus maxime excepturi est facere rerum
            magni beatae. Numquam temporibus ullam eum sapiente distinctio vero
            eaque architecto! Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Possimus eius vitae voluptas nulla, ipsum laborum
            vel aperiam dicta necessitatibus at.</p>

        <button>click me!</button>
    </body>
</html>